li:hover {
    cursor: pointer;
}

.one {
    float: left;
    width: 10%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding-bottom: 0;
    list-style-type: none;
}

.two {
    float: left;
    width: 10%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding-bottom: 0;
    list-style-type: none;
    background: linear-gradient(#477cb3, #FFFFFF);
}

.subCol{
    margin-left:10px;
}

#fen2 .form-control{
    padding: 0;
}

#fen2, #fen3, #fen4, #fen5, #fen6, #fen7, #fen8, #fen9, #fen10,#fen11, #fen12{
    display: none;
}

/* 鍘绘帀 input number 鐨勭澶�*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}